@import url('__image/card__image.css');
@import url('__description/card__description.css');
@import url('__text/card__text.css');
@import url('__like-button/card__like-button.css');
@import url('__like-button/_active/card__like-button_active.css');
@import url('__like-wrap/card__like-wrap.css');
@import url('__like-counter/card__like-counter.css');
@import url('__delete-button/card__delete-button.css');
@import url('__delete-button/_active/card__delete-button_active.css');

.card {
  width: 282px;
  height: 362px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
