.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.34;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .profile__name {
    font-size: 27px;
    line-height: 2.08;
    text-align: center;
  }
}
